html,
body {
  background-color: black;
  color: white;
  margin: 0;
}

.page {
  height: 100vh;
  width: 100%;

  #tutor-container {
    display: flex;
    flex-direction: row;
    height: 90%;

    .headshot {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;

      .headshot-image-wrapper {
        width: 80%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: start;
        overflow: hidden;
        border-radius: 8px;

        img {
          min-width: 100%;
          min-height: 100%
        }
      }

      .description {
        width: 80%;
      }
    }
  }
}